<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>header}}
    <h1>about.hbs content called..............This color applying from style.css</h1>
    Body : {{ body }}
    {{>footer}}
</body>
</html>